.appTitle {
    text-align: center;
    font-size: 85px;
    margin-top: 120px;
    font-family: 'Times New Roman', Times, serif;
}

.headImage {
    height: 300px;
    text-align: center;
}

.favBtn {
    /* background-color: lightcoral; */
    color: white;
    float: right;
}

.hidden {
    display: none;
}

#map{
    height: 400px;
}

.maps {
    width: 500px;
}

.trail {
    border-style: dotted;
    border-color: white;
}

.bodyBackground {
    background-image: linear-gradient(green,rgb(155, 127, 102),rgb(160, 150, 134),white)
}
